*{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", serif;
    font-weight: 500;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
    padding-block: 1%;
}
header section ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    font-size: 100%;
}
header section {
    display: flex;
    gap: 100px;
}
header a {
    text-decoration: none;
    color:hsla(254, 31%, 27%, 1);
    font-weight: 600;
}
header section ol {
    gap: 25px;
    font-size: 100%;
    list-style-type: none;
}
header ol li a {
    background-color: hsla(30, 100%, 53%, 1);
    padding: 5px 15px;
    border-radius: 20px;
    color: hsla(0, 100%, 100%, 1);
}
header .menu {
    display: none;
    position: relative;
}
header .menu ul {
    list-style-type: none;
}
header .menu ul li a img {
    width: 50%;
}
header .menu .dropdown {
    display: none;
    position: absolute;
    left: -125%;
    top: 100%;
    background-color: hsla(0, 0%, 100%, 1);
    padding-inline: 30px;
    padding-block: 10px;
    min-width: 160px;
    height: 200px;
    text-align: center;
}
header .menu .dropdown li {
    list-style-type: none;
    margin-block: 10px;
}
header .menu:hover .dropdown {
    display: grid;
}
main {
    display: flex;
    gap: 50px;
    align-items: center;
    padding-inline: 5%;
    padding-block: 7%;
    background: hsla(190, 42%, 65%, 1);
}
main section div {
    font-size: 30px;
    font-weight: 700;
    color: hsla(254, 31%, 27%, 1);
    line-height: 60px;
}
main section div p {
    color: hsla(30, 100%, 53%, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-block: 10px;
}
main section div .a1 {
    text-decoration: none;
    background: hsla(30, 100%, 53%, 1);
    color: hsla(0, 0%, 100%, 1);
    padding: 2% 5%;
    font-size: 16px;
}
main section div .a {
    text-decoration: none;
    border: 2px solid hsla(30, 100%, 53%, 1);
    color: hsla(190, 26%, 23%, 1);
    padding: 2% 5%;
    font-size: 16px;
}
main section img {
     border-radius: 50px;
}
.second-layout {
    padding-inline: 5%;
    padding-block: 5%;
}
.second-layout .title {
    color: hsla(254, 31%, 27%, 1);
    width: 50%;
    font-size: 22px;
    font-weight: 600;
    margin-block-end: 3%;
}
.second-layout .title h1 {
    color: hsla(30, 100%, 53%, 1);
    font-size: 30px;
    font-weight: 700;
    margin-block: 2%;
}
.second-layout .title p {
    font-size: 14px;
    font-weight: 400;
}
.second-layout .content {
    display: flex;
    gap: 5%;
    color: hsla(30, 100%, 53%, 1);
    font-size: 14px;
    font-weight: 400;
}
.second-layout .content h1 {
    color: hsla(254, 31%, 27%, 1);
    margin-block: 5%;
    font-size: 25px;
    font-weight: 700;
}
.second-layout .actions {
    margin-block: 2%;
    display: flex;
    gap: 1%;
    align-items: center;
    font-size: 13px;
}
.second-layout .actions .a1 {
    text-decoration: none;
    color: hsla(30, 100%, 53%, 1);
    border: 2px solid hsla(254, 31%, 27%, 1);
    padding: 0.5% 1.5%;
}
.second-layout .actions .a {
    display: flex;
    align-items: center;
    gap: 1px;
    text-decoration: none;
    color: hsla(30, 100%, 53%, 1);
}
.third-layout {
    display: flex;
    gap: 5%;
    align-items: center;
    padding-inline: 5%;
    padding-block: 7%;
    font-size: 13px;
    font-weight: 400;
    color: hsla(254, 31%, 27%, 1);
    background: hsla(44, 86%, 70%, 1);
}
.third-layout div h3 {
    font-size: 30px;
    font-weight: 700;
    margin-block: 5%;
}
.third-layout div ul {
    margin-top: 5%;
}
.third-layout div ul li {
    display: flex;
    list-style-type: none;
    gap: 2%;
    margin-block: 2%;
}
.third-layout div .img {
    border-radius: 30px;
}
.team {
    padding-inline: 5%;
    padding-block: 7%;
    background: hsla(173, 44%, 73%, 1);
}
.team .title {
    font-size: 18px;
    color: hsla(30, 100%, 53%, 1);
    font-weight: 600;
    width: 60%;
}
.team .title h2 {
    font-size: 40px;
    font-weight: 700; 
    color: hsla(254, 31%, 27%, 1);
    margin-block: 1%;
}
.team .content {
    display: flex;
    gap: 3%;
    font-size: 20px;
    font-weight: 700;
    color: hsla(254, 31%, 27%, 1);
    margin-block: 5%;
}
.team .content .cover {
    width: 70%;
}
.team .content .cover div .p {
    font-size: 8px;
    margin-block: 2%;
}
.team .content .cover .pp {
    color: hsla(30, 100%, 53%, 1);
    font-size: 15px;
    font-weight: 400;
    margin-block: 7%;
}
.team .content div .img {
    width: 100%;
}
.team .contnt {
    font-size: 20px;
    color: hsla(254, 31%, 27%, 1);
    font-weight: 400;
    width: 60%;
}
.team .contnt p {
    font-size: 15px;
    color: hsla(30, 100%, 53%, 1);
    margin-block: 3%;
}
.team .contnt a {
    text-decoration: none;
    color: hsla(254, 31%, 27%, 1);
    font-size: 15px;
    border: 2px solid hsla(254, 31%, 27%, 1);
    padding: 1% 2%;
}
.testimonial {
    text-align: center;
    padding-inline: 5%;
    padding-block: 7%;
    color: hsla(254, 31%, 27%, 1);
    font-weight: 700;
    font-size: 32px;
}
.testimonial h1 {
    height: 100px;
    display: grid;
    align-items: start;
}
.testimonial .cover-p {
    margin-block: 3%;
}
.testimonial .p {
    width: 50%;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
}
.testimonial .cover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial .cover .profile {
    width: 3%;
}
.testimonial .cover .logo {
    width: 5%;
}
.testimonial .cover div {
    font-size: 13px;
    font-weight: 900;
    padding-inline: 1.5%;
    border-right: 1px solid hsla(0, 0%, 0%, 1);
    text-align: start;
}
.cta {
    padding-inline: 5%;
    padding-block: 7%;
    background: hsla(44, 86%, 70%, 1);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: hsla(0, 0%, 100%, 1);
}
.cta p {
    font-size: 20px;
    font-weight: 400;
    color: hsla(254, 31%, 27%, 1);
    margin-block: 3%;
}
.cta .a {
    padding: 1% 2.5%;
    border: 1px solid hsla(254, 31%, 27%, 1);
    color: hsla(44, 86%, 70%, 1);
    background-color: hsla(254, 31%, 27%, 1);
    text-decoration: none;
    font-size: 15px;
}
.cta .aa {
    padding: 1% 3%;
    border: 1px solid hsla(254, 31%, 27%, 1);
    color: hsla(254, 31%, 27%, 1);
    text-decoration: none;
    font-size: 15px;
}
.gallery {
    padding-inline: 5%;
    padding-block: 7%;
    background: hsla(190, 42%, 65%, 1);
    text-align: center;
    color: hsla(30, 100%, 53%, 1);
    font-size: 40px;
    font-weight: 700;
}
.gallery p {
    color: hsla(254, 31%, 27%, 1);
    font-size: 17px;
    font-weight: 400;
    margin-block: 3%;
}
.gallery img {
    width: 100%;
}
.faqs {
    padding-inline: 5%;
    padding-block: 7%;
    color: hsla(254, 31%, 27%, 1);
    font-size: 40px;
    font-weight: 700;
    background: hsla(32, 100%, 97%, 1);
}
.faqs p {
    font-size: 13px;
    font-weight: 400;
    width: 70%;
    margin-block: 1% 0.5%;
}
.faqs .list .item .question {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.faqs .list .item .question h4 {
    font-size: 18px;
    font-weight: 600;
}
.faqs .list {
    margin-block: 5%;
    border-top: 1px solid hsla(254, 31%, 27%, 1);
}
.faqs .list .item {
    padding-block: 1.5%;
    border-bottom: 1px solid hsla(254, 31%, 27%, 1);
}
.faqs .content {
    font-size: 18px;
    font-weight: 800;
}
.faqs .content p {
    margin-block: 2%;
}
.faqs .content a {
    text-decoration: none;
    border: 1px solid hsla(254, 31%, 27%, 1);
    padding: 0.7% 1%;
    color: hsla(254, 31%, 27%, 1);
    font-size: 15px;
}
.contact {
    padding-inline: 5%;
    padding-block: 7%;
    background: hsla(44, 86%, 70%, 1);
    text-align: center;
}
.contact .title {
    color: hsla(254, 31%, 27%, 1);
    font-size: 18px;
    font-weight: 700;
}
.contact .title h1 {
    font-size: 35px;
    color: hsla(30, 100%, 53%, 1);
    font-weight: 800;
    margin-block: 1.3%;
}
.contact .row {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-block: 6%;
    font-size: 15px;
    font-weight: 400;
}
.contact .row .content h4 {
    font-size: 28px;    
    font-weight: 700;
    height: 50px;
    display: grid;
    align-items: center;
}
@media only screen and (max-width: 700px) and (min-width: 0px) {
    header {
        padding-inline: 1%;
    }
    header section {
        display: none;
    }
    header .menu {
        display: flex;
    }
    main {
        flex-direction: column;
        text-align: center;
        padding-inline: 2.5%;
    }
    main section img {
        width: 100%;
    }
    main section div {
        font-size: 120%;
        line-height: 200%;
    }
    .second-layout {
        padding-inline: 2.5%;
        text-align: center;
    }
    .second-layout .title {
        width: 100%;
        font-size: 150%;
    }
    .second-layout .title h1 {
        font-size: 120%;
        margin-block: 5%;
    }
    .second-layout .content {
        flex-direction: column;
        font-size: 100%;
    }
    .second-layout .content div {
        margin-block: 5%;
    }
    .second-layout .content h1 {
        font-size: 150%;
    }
    .third-layout {
        padding-inline: 2.5%;
        flex-direction: column-reverse;
        text-align: center;
        font-size: 70%;
    }
    .third-layout div h3 {
        font-size: 125%;
    }
    .third-layout div .img {
        width: 100%;
    }
    .team {
        padding-inline: 2.5%;
        text-align: center;
    }
    .team .title {
        width: 100%;
        font-size: 150%;
    }
    .team .title h2 {
        font-size: 100%;
        margin-block: 2%;
    }
    .team .content {
        flex-direction: column;
        font-size: 100%;
    }
    .team .content .cover {
        width: 100%;
        margin-block: 3%;
    }
    .team .contnt {
        width: 100%;
        font-size: 100%;
    }
    .team .contnt p {
        font-size: 100%;
        margin-block: 7%;
    }
    .team .contnt a {
        font-size: 100%;
    }
    .testimonial {
        padding-inline: 2.5%;
        font-size: 100%;
    }
    .testimonial h1 {
        height: 100%;
        margin-block: 3%;
    }
    .testimonial .p {
        width: 100%;
        margin-block: 5%;
        font-size: 85%;
    }
    .testimonial .cover .profile {
        width: 7%;
    }
    .testimonial .cover .logo {
        width: 10%;
    }
    .cta {
        padding-inline: 2.5%;
        font-size: 90%;
    }
    .cta p {
        font-size: 80%;
        margin-block: 5%;
    }
    .cta .a {
        font-size: 90%;
    }
    .cta .aa {
        font-size: 90%;
    }
    .gallery {
        padding-inline: 2.5%;
        font-size: 100%;
    }
    .gallery p {
        font-size: 50%;
    }
    .faqs {
        padding-inline: 2.5%;
        font-size: 100%;
    }
    .faqs p {
        font-size: 70%;
        width: 100%;
        margin-block: 3% 1.5%;
    }
    .faqs .list {
        margin-block: 10%;
    }
    .faqs .list .item .question h4 {
        font-size: 100%;
    }
    .faqs .list .item {
        padding-block: 2.5%;
    }
    .faqs .content {
        font-size: 80%;
    }
    .faqs .content p {
        margin-block: 4%;
    }
    .faqs .content a {
        font-size: 100%;
    }
    .contact {
        padding-inline: 2.5%;
    }
    .contact .title {
        font-size: 90%;
    }
    .contact .title h1 {
        font-size: 130%;
    }
    .contact .row {
        flex-direction: column;
        font-size: 90%;
    }
    .contact .row .content {
        margin-block: 3%;
    }
    .contact .row .content h4 {
        font-size: 120%;
    }
}
@media only screen and (max-width: 1100px) and (min-width: 700px) {
    main section img {
        width: 110%;
        height: 250%;
    }
    main section div {
        font-size: 120%;
        line-height: 200%;
    }
    .second-layout .title {
        font-size: 150%;
        width: 60%;
    }
    .second-layout .title h1 {
        font-size: 100%;
    }
    .second-layout .title p {
        font-size: 50%;
    }
    .second-layout .content {
        font-size: 70%;
        gap: 2.5%;
    }
    .second-layout .content h1 {
        font-size: 140%;
    }
    .third-layout div h3 {
        font-size: 130%;
    }
    .third-layout div .img {
        width: 110%;
    }
    .team .content .cover .pp {
        font-size: 70%;
    }
    .testimonial .p {
        width: 100%;
    }
    .cta {
        font-size: 170%;
    }
    .cta p {
        font-size: 75%;
    }
    .gallery {
        font-size: 100%;
    }
    .gallery p {
        font-size: 100%;
    }
    .contact .row {
        font-size: 90%;
    }
    .contact .row .content h4 {
        font-size: 10%;
    }
    .contact .row .content p {
        margin-block: 4%;
    }
}